body {background-image: url("https://github.com/raymusa/raymusa.github.io/blob/master/img/glitch1-header.png");
  background-repeat: no-repeat;
  background-attachment: fixed;

.main_div{
	width: 50%;
	background-color: transparent;
	border-radius: 40px;
	border:1px dotted black;
}

#img1{
	width: 50%;
	padding: 20px;
}
