body{
	background-image: url('../../img/cloudloop.gif');
	background-size: cover;
	height: 100vh;
	padding:0;
	margin:0;
}
	.landing_animation_container{
	width: 100%;
	height: 100%;
	background: white;
	position: fixed;
	top:0;
	left:0;
	z-index: 0;
	animation-name: background_animation;
	animation-duration: 2s;
	animation-fill-mode:forwards;
	animation-delay: 2s;
}

@keyframes background_animation {
	0%   { opacity: 1; }
	99%  { opacity: 0; z-index: 0;}
	100% { opacity: 0; z-index: -1;}
}



.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'American Typewriter',sans-serif ;
	font-size: 80px;
	color:white;
	text-shadow: 2px 2px #D4E6F1;
	text-align:center;
	transition: -webkit-text-stroke-color 2s, color 2s;
}

.title:hover{
	color:transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
}
	
.menu{
	margin:24px;
}
.menu_list{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'American Typewriter', sans-serif;
  	font-size: 80px;
	color:white;
	text-shadow: 2px 2px #D4E6F1;
}
.work_list{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'American Typewriter', sans-serif;
  	font-size: 28px;
	color:white;
	
}
#menu_home:hover{
	color:white;
}
#menu_about:hover{
	color:white;
}
#menu_works:hover{
	color:white;
}
