body{
	background-image: url("img/clouds.jpg");
	background-repeat: no-repeat;

}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'American Typewriter',sans-serif ;
	font-size: 80px;
	color:white;
	text-shadow: 2px 2px #D4E6F1;
	transition: -webkit-text-stroke-color 2s, color 2s;
}

.title:hover{
	color:transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
}
	
.menu{
	margin:24px;
}
.menu_list{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'American Typewriter', sans-serif;
  	font-size: 80px;
	color:white
}
.work_list{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'American Typewriter', sans-serif;
  	font-size: 28px;
	color:white 
}
#menu_home:hover{
	color:white;
}
#menu_about:hover{
	color:white;
}
#menu_works:hover{
	color:white;
}
