body{
	background-color:#201E1E;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
	font-family: 'Inconsolata', monospace;
	font-size:1.5vw;
	
}
.color1{
	position:absolute;
	top:0%;
	left:0%;
	padding:5%;
	width:1vw;
	height:1vh;
	text-align: center;
	text-shadow: 3px 3px rgba(254,42,5,.5);
	color:rgba(237,247,254,.8);
	background-color:rgba(254,42,5,.4);
	border-radius:50%;
}
.color2{
	
	position:absolute;
	top:10%;
	left:10%;
	padding:10%;
	width:1vw;
	height:1vh;
	text-align: center;
	text-shadow: 3px 3px rgba(255,165,30,.5);
	color:rgba(237,247,254,.8);
	background-color:rgba(255,165,30,.4);
	border-radius:50%;
}
.color3{
	position:absolute;
	top:20%;
	left:20%;
	padding:10%;
	width:1vw;
	height:1vh;
	text-align: center;
	text-shadow: 3px 3px rgba(254,253,50,.5);
	color:rgba(237,247,254,.8);
	background-color:rgba(254,253,50,.4);
	border-radius:50%;
}
.color4{
	position:absolute;
	top:30%;
	left:30%;
	padding:10%;
	width:1vw;
	height:1vh;
	text-align: center;
	text-shadow: 3px 3px rgba(0,127,19,.5);
	color:rgba(237,247,254,.8);
	background-color:rgba(0,127,19,.4);
	border-radius:50%;
}
.color5{
	position:absolute;
	top:40%;
	left:40%;
	padding:10%;
	width:1vw;
	height:1vh;
	text-align: center;
	text-shadow: 3px 3px rgba(26,34,252,.5);
	color:rgba(237,247,254,.8);
	background-color:rgba(26,34,252,.4);
	border-radius:50%;
}
.color6{
	
	position:absolute;
	top:50%;
	left:50%;
	padding:10%;
	width:1vw;
	height:1vh;
	text-align: center;
	text-shadow: 3px 3px rgba(75,15,130,.5);
	color:rgba(237,247,254,.8);
	background-color:rgba(75,15,130,.4);
	border-radius:50%;
}
.color7{
	position:absolute;
	top:60%;
	left:60%;
	padding:10%;
	width:1vw;
	height:1vh;
	text-align: center;
	text-shadow: 3px 3px rgba(238,130,298,.5);
	color:rgba(237,247,254,.8);
	background-color:rgba(238,130,298,0.4);
	border-radius:50%;
}
	#landing_animation_container{
	width: 100%;
	height: 100%;
	background-color:#201E1E;
	position: fixed;
	top:0%;
	left:0%;
	z-index: 0;
	animation-name: background_animation;
	animation-duration: 7s;
	animation-fill-mode:forwards;
	animation-delay: 1s;
	
}

@keyframes background_animation {
	0%   { opacity: 1; }
	99%  { opacity: 0; z-index: 0;}
	100% { opacity: 0; z-index: -1;}
}
body{
	overflow:hidden;
}

@media only screen and (min-width:0px) and (max-width:180px){
	.color1{
		display:none;
	}
	.color2{
		display:none;
	}
	.color3{
		display:none;
	}
	.color4{
		display:none;
	}
	.color5{
		display:none;
	}
	.color6{
		display:none;
	}
	.color7{
		display:none;
	}	
}
@media only screen and (min-width:180px) and (max-width:360px){
	.color2{
		display:none;
	}
	.color3{
		display:none;
	}
	.color4{
		display:none;
	}
	.color5{
		display:none;
	}
	.color6{
		display:none;
	}
	.color7{
		display:none;
	}
	}
@media only screen and (min-width:360px) and (max-width: 540px) {
	.color2{
	position:absolute;
	top:10%;
	left:10%;
	padding:38%;
	width:16vw;
	height:16vh;
	}
	.color3{
		display:none;
	}
	.color4{
		display:none;
	}
	.color5{
		display:none;
	}
	.color6{
		display:none;
	}
	.color7{
		display:none;
	}
	}
@media only screen and (min-width:540px) and (max-width:720px) {
	.color2{
	position:absolute;
	top:10%;
	left:10%;
	padding:35%;
	width:9vw;
	height:9vh;
	}
	.color3{
	position:absolute;
	top:20%;
	left:20%;
	padding:35%;
	width:9vw;
	height:9vh;
	}
	.color4{
		display:none;
	}
	.color5{
		display:none;
	}
	.color6{
		display:none;
	}
	.color7{
		display:none;
	}
	}
@media only screen and (min-width:720px) and (max-width:900px) {
	.color1{
	position:absolute;
	top:0%;
	left:0%;
	padding:6%;
	width:1vw;
	height:1vh;
	}
	.color2{
	position:absolute;
	top:10%;
	left:10%;
	padding:30%;
	width:7vw;
	height:7vh;
	}
	.color3{
	position:absolute;
	top:20%;
	left:20%;
	padding:30%;
	width:7vw;
	height:7vh;
	}
	.color4{
	position:absolute;
	top:30%;
	left:30%;
	padding:30%;
	width:7vw;
	height:7vh;
	}
	.color5{
		display:none;
	}
	.color6{
		display:none;
	}
	.color7{
		display:none;
	}
	}
@media only screen and (min-width:900px) and (max-width:1080px) {
	.color2{
	position:absolute;
	top:10%;
	left:10%;
	padding:25%;
	width:5vw;
	height:5vh;
	}
	.color3{
	position:absolute;
	top:20%;
	left:20%;
	padding:25%;
	width:5vw;
	height:5vh;
	}
	.color4{
	position:absolute;
	top:30%;
	left:30%;
	padding:25%;
	width:5vw;
	height:5vh;
	}
	.color5{
	position:absolute;
	top:40%;
	left:40%;
	padding:25%;
	width:5vw;
	height:5vh;
	}
	.color6{
		display:none;
	}
	.color7{
		display:none;
	}
	}
@media only screen and (min-width:1080px) and (max-width:1260px) {
	.color2{
	position:absolute;
	top:10%;
	left:10%;
	padding:15%;
	width:2vw;
	height:2vh;
	}
	.color3{
	position:absolute;
	top:20%;
	left:20%;
	padding:15%;
	width:2vw;
	height:2vh;
	}
	.color4{
	position:absolute;
	top:30%;
	left:30%;
	padding:15%;
	width:2vw;
	height:2vh;
	}
	.color5{
	position:absolute;
	top:40%;
	left:40%;
	padding:15%;
	width:2vw;
	height:2vh;
	}
	.color6{
	position:absolute;
	top:50%;
	left:50%;
	padding:15%;
	width:3vw;
	height:3vh;
	}
	.color7{
		display:none;
	}
	}
@media only screen and (min-width:1260px) {	
	}
	





