#package{
	width: 720px;
	height: 240px;
	background-color: red;
	/* horizontal + vertical center align - parent div */
	position: relative;
	/*//////*/
}

#name{
	/* horizontal + vertical center align - child div */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*//////*/
	font-size: 100px;
	color:white;
	font-family:gill-sans
	font-style: italic;
	font-weight: bold;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: darkred;
	letter-spacing: -3px;
}

#subtitle{
	position: absolute;
	top: 34%;
	left: 40%;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 12px;
}

#weight{
	position: absolute;
	bottom: 7%;
	left: 3%;
	font-family: sans-serif;
	text-align: center;
}

#calories{
	position: absolute;
	bottom: 7%;
	right: 3%;
	font-family: sans-serif;
	font-size: 9px;
	text-align: center;
	background-color:white;
	border:3px solid black;
	border-radius: 12%;
	padding: 6px;
}

#cal_number{
	font-size: 19px;
}

#kitkat_img_container{
	width: 720px;
}

#kitkat_img{
	width: 100%;
}
